<h1>Answer Page</h1>


<div class="card">
  <div class="card-header">
    Question
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @question %></p>
      <footer class="blockquote-footer">You</footer>
    </blockquote>
  </div>
</div>




<div class="card">
  <div class="card-header">
    Answer
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @answer %></p>
      <footer class="blockquote-footer">Coach</footer>
    </blockquote>
  </div>
</div>

<%= link_to "Back to home", question_path, class: 'btn btn-light' %>
